.container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    margin: 0 auto;
}

.container img {
    margin-top: 3%;
    padding: 2%;
    border: 2px solid gray;
    border-radius: 5px;
    object-fit: cover;
}

.container button {
    padding: 0.8rem 0.7rem;
    color:rgba(0, 0, 0, 0.8);
    background-color: orange;
    transition: 200ms background-color ease-in-out;
    transition: 200ms color ease-in-out;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover{
    background-color: red;
    color: white;
}

.container img, .container button{
    box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.18);
}